html{
    background-color: #627F40;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(49,63, 32,1);
    color: #E8FFCC;
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0;
}

p{
    margin: .25em;
}

.site-logo{
    color: #C4FF80;
    font-size: 10em;
    font-family: 'Pacifico', cursive;
    margin-top: 1px;
    padding-top: .25em;
    margin-bottom: .25em;
}

#logo-link{
    text-decoration: none;
}


.container{
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.choice{
    width: 9em;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.selected-choice{
    border-width: 3px;
    border-color: #E8FFCC;
    border-bottom: ridge;
    padding: .5em;
}

.login{
    float: left;
    padding: .5em;
}

.register{
    float: right;
    padding: .5em;
}

.invalid-pass{
    border: 3px solid #CB745C;
    background-color: #4C281F;

}

#demo-launch{
    font-size: .75em;
    color: #313F20;
    font-family: 'Raleway', sans-serif;
}

#demo-launch:visited{
    text-shadow: none;
}

.label{
    margin-top: 1em;
    font-size: 1em;
}

.parameters{
    border: 1px solid #848484;
    border-radius: 1.875em;
    height: 2.5em;
    min-width: 20em;
    text-align: center;
}
