html{
    background-color: #627F40;
    text-align: center;
}

.site-logo{
    color: #C4FF80;
    font-size: 10em;
    font-family: 'Pacifico', cursive;
    margin-top: 1px;
    padding-top: .25em;
    margin-bottom: .25em;
}

#arrow-indicator{
  text-align: left;
  color: #C4FF80;
  margin-bottom: 0;
}

#map-canvas{
    border-radius: 1em;
    border: inset;
    margin-bottom: 1em;
}

table, th, td {
    border: .2em solid #313F20;
}

table {
    font-family: 'Raleway', sans-serif;
    font-size: .9em;
    color: #E8FFCC;
    border-collapse: collapse;
}

th{
    background: #313F20;
}

td {
    text-align: center;
}
