<!DOCTYPE html>
<html>
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"/>
<link rel="stylesheet" href="{% static "css/octicons/octicons.css" %} "/>
<link href='http://fonts.googleapis.com/css?family=Raleway|Pacifico' rel='stylesheet' type='text/css'>
	<head lang="en">
		<meta charset="UTF-8">
		<title>Screlp</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		{% block extra_js %}
		{% endblock %}
	</head>
	<body>
		{% block header %}
		{% if user.is_authenticated %}
		<div class="actions">
			<a href="/settings"><span class="mega-octicon octicon-gear action-icons"></span></a>
			<a href="/logout"><span class="mega-octicon octicon-sign-out logout action-icons"></span></a>
		</div>
		{% endif %}
		<div><a href="http://exceptnot.com" id="logo-link"><h2 class="site-logo">Screlp</h2></a></div>
		{% endblock %}
		{% block body %}
		{% endblock %}
	</body>
</html>
