{% extends "base.html" %}
    {% block extra_js %}
        <script>
            $(document).ready(function(){
                $("#demo-launch").click(function() {
                    $(".info-entry").hide();
                    $(".query-entry").fadeIn("slow");
                });

                $(".register").click(function(){
                    if(!$(this).hasClass("selected-choice")){
                        $("#register").show();
                        $("#login").hide();
                        $(".register").toggleClass("selected-choice");
                        $(".login").toggleClass("selected-choice");
                    };
                });

                $(".login").click(function(){
                    if(!$(this).hasClass("selected-choice")){
                        $("#register").hide();
                        $("#login").show();
                        $(".login").toggleClass("selected-choice");
                        $(".register").toggleClass("selected-choice");
                    };
                });
            });
        </script>
    {% endblock %}
    {% block body %}
        <div><a href="http://exceptnot.com" id="logo-link"><h2 class="site-logo">Screlp</h2></a></div>
        {% if not logged_in %}
        <div class="container">
            <div class="info-entry">
                <div class="choice">
                    <div class="login selected-choice">
                        Login
                    </div>
                    <div class="register">
                        Register
                    </div>
                </div>

                <div class="login-entry" id="login" style="display: none;">
                    <form action="/login/" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token}}">
                        {{ login.as_p }}
                        <input id="login-button" class="parameters" type="submit">
                    </form>
                </div>
                <div class="login-entry" id="register">
                    <form action="/register/" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token}}">
                        {% for field in register %}
                           <p class="parameters">{{field.label_tag}} {{ field }} </p>
                        {% endfor %}
                        <input id="login-button" class="parameters" type="submit">
                    </form>
                </div>
                <div class="login-entry">
                    {% if demo_available %}
                    <a href="#" id="demo-launch">I'd like a demo</a><br>
                    {% endif %}
                    <sup id="demo-phrase">{{ phrase }}</sup>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="query-entry" id="demo" style="display: none;">
            <form action="/search" method="get">
                <p class="label">Address:</p>
                    <p><input class="parameters" type="text" name="a" value="603 Red River St. Austin, TX 78701"></p>
                <p class="label">Search Term:</p>
                    <p><input class="parameters" type="text" name="t" value="pizza"></p>
                <p class="label">Radius (in miles):</p>
                    <p><input class="parameters" type="number" name="r" value="1"></p>
                <p class="label">Grid Density:</p>
                    <p><input class="parameters" type="number" name="d" value="1" max="5"></p>
                {% if logged_in %}
                # TODO: Create auto-sort jquery field for Yelp categories.
                <p class="label">Category:</p>
                    <p><input class="parameters" type="text" name="c" placeholder="n/a"></p>
                {% endif %}
                <input class="parameters" type="submit" id="button" value="Go!">
            </form>
        </div>
    {% endblock %}
