<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static "css/home.css" %}"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway|Pacifico' rel='stylesheet' type='text/css'>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Screlp</title>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#demo-launch").click(function() {
                    $(".login").hide();
                    $("#demo-launch").hide();
                    $("#demo").fadeIn("slow");
                });
            });
        </script>
    </head>
    <body>
        <div><h2 class="site-logo">Screlp</h2></div>
        <div class="login">
            {% if not logged_in %}
                <p><input class="parameters" type="email"  name="email"  placeholder="example@email.com"></p>
                <p><input class="parameters" type="password" name="pass" placeholder="•••••••••••••••••"></p>
            {% endif %}
            {% if demo_available %}
                <a href="#" id="demo-launch">I'd like a demo</a><br><sup id="demo-launch">you have {{ tries }} tries remaining</sup>
            {% endif %}
        </div>
        <div class="query-entry" id="demo" style="display: none;">
            <form action="/search" method="get">
                <p class="label">Address:</p>
                    <p><input class="parameters" type="text" name="a" value="603 Red River St. Austin, TX 78701"></p>
                <p class="label">Search Term:</p>
                    <p><input class="parameters" type="text" name="t" value="pizza"></p>
                <p class="label">Radius (in miles):</p>
                    <p><input class="parameters" type="number" name="r" value="1"></p>
                <p class="label">Grid Density:</p>
                    <p><input class="parameters" type="number" name="d" value="1" max="5"></p>
                <p class="label">Category:</p>
                    <p><input class="parameters" type="text" name="c" placeholder="n/a"></p>
                <input class="button" type="submit" value="Go!">
            </form>
        </div>
    </body>
</html>
